<%= render "shared/topbar" %>
<%= render "shared/header" %>
<main>
  <article>
    <%= render "shared/hero" %>
    <%= render "shared/service" %>
    <%= render "shared/about" %>
    <%= render "shared/special_dish" %>
    <%= render "shared/menu" %>
    <%= render "shared/testimonial" %>
    <%= render "shared/reservation" %>
    <%= render "shared/feature" %>
    <%= render "shared/event" %>
  </article>
</main>
<%= render "layouts/footer" %>









  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>
