<div class="topbar">
  <div class="container">

    <address class="topbar-item">
      <div class="icon">
        <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
      </div>

      <span class="span">
        Restaurant St, Delicious City, London 9578, UK
      </span>
    </address>

    <div class="separator"></div>

    <div class="topbar-item item-2">
      <div class="icon">
        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
      </div>

      <span class="span">Daily : 8.00 am to 10.00 pm</span>
    </div>

    <a href="tel:+11234567890" class="topbar-item link">
      <div class="icon">
        <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
      </div>

      <span class="span">+1 123 456 7890</span>
    </a>

    <div class="separator"></div>

    <a href="mailto:booking@restaurant.com" class="topbar-item link">
      <div class="icon">
        <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
      </div>

      <span class="span">booking@restaurant.com</span>
    </a>

  </div>
</div>


<header class="header " data-controller="header"  data-header-target="header">
  <div class="container">
    <a href="#" class="logo">
      <%= image_tag("logo.svg", width: 160, height: 50, alt: "Grilli - Home") %>
    </a>
  </div>
</header>

<div class="footer section has-bg-image text-center"
  style="background-image: url('<%= asset_path('footer-bg.jpg') %>')">
  <div class="container">

    <div class="footer-top grid-list">

      <div class="footer-brand has-before has-after">
        <p class="title-1">Ticket Search</p>
        
        <div class="wrapper">
          <div class="separator"></div>
          <div class="separator"></div>
          <div class="separator"></div>
        </div>

        <%= form_tag(search_ticket_path, method: "get", class: 'input-wrapper') do %>
          <div class="icon-wrappe">

            <%= text_field_tag(:ticket_id, nil, class: "input-field", placeholder: "Enter Ticket ID") %>

          </div>
          <%= submit_tag("Search", class: "btn btn-secondary") %>
        <% end %>
      </div>

      <ul class="footer-list">
        <li>
          <%= link_to 'Back', root_path, class: 'label-2 footer-link hover-underline' %>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <%= link_to 'Facebook', '#', class: 'label-2 footer-link hover-underline' %>
        </li>
        <li>
          <%= link_to 'Instagram', '#', class: 'label-2 footer-link hover-underline' %>
        </li>
        <li>
          <%= link_to 'Twitter', '#', class: 'label-2 footer-link hover-underline' %>
        </li>
        <li>
          <%= link_to 'Youtube', '#', class: 'label-2 footer-link hover-underline' %>
        </li>
        <li>
          <%= link_to 'Google Map', '#', class: 'label-2 footer-link hover-underline' %>
        </li>
      </ul>

    </div>

    <div class="footer-bottom">
      <p class="copyright">
        &copy; <%= Time.now.year %> Grilli. All Rights Reserved | Crafted by <%= link_to 'codewithsadee', 'https://github.com/codewithsadee', target: '_blank', class: 'link' %>
      </p>
    </div>

  </div>
</div>
