<footer class="footer section has-bg-image text-center"
  style="background-image: url('<%= asset_path('footer-bg.jpg') %>')">
  <div class="container">

    <div class="footer-top grid-list">

      <div class="footer-brand has-before has-after">

        <a href="#" class="logo">
          <%= image_tag('logo.svg', width: 160, height: 50, loading: 'lazy', alt: 'grilli home') %>
        </a>

        <address class="body-4">
          Restaurant St, Delicious City, London 9578, UK
        </address>

        <a href="mailto:booking@grilli.com" class="body-4 contact-link">booking@grilli.com</a>

        <a href="tel:+88123123456" class="body-4 contact-link">Booking Request : +88-123-123456</a>

        <p class="body-4">
          Open : 09:00 am - 01:00 pm
        </p>

        <div class="wrapper">
          <div class="separator"></div>
          <div class="separator"></div>
          <div class="separator"></div>
        </div>

        <p class="title-1">Get News & Offers</p>

        <p class="label-1">
          Subscribe us & Get <span class="span">25% Off.</span>
        </p>

        <%= form_with(url: '/subscribe', method: 'post', class: 'input-wrapper') do |f| %>
          <div class="icon-wrapper">
            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

            <%= f.email_field :email_address, placeholder: 'Your email', class: 'input-field' %>
          </div>

          <button type="submit" class="btn btn-secondary">
            <span class="text text-1">Subscribe</span>

            <span class="text text-2" aria-hidden="true">Subscribe</span>
          </button>
        <% end %>

      </div>

      <ul class="footer-list">
        <li>

          <%= link_to '#Home', class: 'label-2 footer-link hover-underline' do %>
            Home
          <% end %>
        </li>
        <li>
          <%= link_to '#Menus', class: 'label-2 footer-link hover-underline' do %>
            Menus
          <% end %>
        </li>
        <li>
          <%= link_to '#About Us', class: 'label-2 footer-link hover-underline' do %>
            About
          <% end %>
        </li>
        <li>
          <%= link_to '#Our Chefs', class: 'label-2 footer-link hover-underline' do %>
            Out Chefs
          <% end %>
        </li>
        <li>
          <%= link_to '#Contact', class: 'label-2 footer-link hover-underline' do %>
            Contact
          <% end %>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <%= link_to 'Facebook', '#', class: 'label-2 footer-link hover-underline' %>
        </li>
        <li>
          <%= link_to 'Instagram', '#', class: 'label-2 footer-link hover-underline' %>
        </li>
        <li>
          <%= link_to 'Twitter', '#', class: 'label-2 footer-link hover-underline' %>
        </li>
        <li>
          <%= link_to 'Youtube', '#', class: 'label-2 footer-link hover-underline' %>
        </li>
        <li>
          <%= link_to 'Google Map', '#', class: 'label-2 footer-link hover-underline' %>
        </li>
      </ul>

    </div>

    <div class="footer-bottom">
      <p class="copyright">
        &copy; <%= Time.now.year %> Grilli. All Rights Reserved | Crafted by <%= link_to 'codewithsadee', 'https://github.com/codewithsadee', target: '_blank', class: 'link' %>
      </p>
    </div>

  </div>
</footer>
